picture {
  display: block;
  max-height: 170px;
}

.background {
  width: 100%;
}

.header {
  text-align: center;
}

.body {
  margin: 8px;
}

h1 {
  margin-top: 0px;
  font-size: 50px;
}

h2 {
  font-size: 20px;
  margin-top: -40px !important;
}
