<div class="timeline" [attr.id]="'plan'">
  <ul>
    <li>
      <div class="content">
        <h3>Wyjazd z Oleśnicy</h3>
        <p>
          Rozkład jazdy autobusu znajduje się
          <a [routerLink]="'.'" [fragment]="'bus'">tutaj</a>.
        </p>
      </div>
      <div class="time">
        <h4>XX:YY</h4>
      </div>
    </li>
    <li>
      <div class="content">
        <div class="h3img">
          <h3>Ślub</h3>
          <img [src]="'assets/churchShape.png'"/>
        </div>
        <p>Kościół pw. Wniebowzięcia Najświętszej Maryi Panny</p>
        <p></p>
        <p>ul. Pszczelarska 10, Wrocław</p>
      </div>
      <div class="time">
        <h4>15:YY</h4>
      </div>
    </li>
    <li>
      <div class="content">
        <div class="h3img">
          <h3>Wesele</h3>
          <img [src]="'assets/partyShape.png'"/>
        </div>
        <p>Zamek Topacz, ul. Templariuszy 1, Ślęza</p>
      </div>
      <div class="time">
        <h4>XX:YY</h4>
      </div>
    </li>
    <li>
      <div class="content">
        <h3>Powrót do Oleśnicy</h3>
        <p>
          Rozkład jazdy autobusu znajduje się
          <a [routerLink]="'.'" [fragment]="'bus'">tutaj</a>.
        </p>
      </div>
      <div class="time">
        <h4>4:XX</h4>
      </div>
    </li>
    <div style="clear: both"></div>
  </ul>
</div>
