<h1>Plan</h1>
<div class="timeline" [attr.id]="'plan'">
  <ul>
    <!-- <li>
      <div class="content">
        <h3>Wyjazd z Oleśnicy</h3>
        <p>
          Rozkład jazdy autobusu znajduje się
          <a [routerLink]="'.'" [fragment]="'bus'">tutaj</a>.
        </p>
      </div>
      <div class="time">
        <h4>XX:YY</h4>
      </div>
    </li> -->
    <li>
      <div class="content">
        <div class="h3img">
          <h3>Ślub</h3>
          <img [src]="'assets/churchShape.png'"/>
        </div>
        <p>Kościół p.w. św. Andrzeja Apostoła</p>
        <p>ul. Wrocławska 30A, Bielany Wrocławskie</p>
      </div>
      <div class="time">
        <h4>15:30</h4>
      </div>
    </li>
    <li>
      <div class="content">
        <div class="h3img">
          <h3>Wesele</h3>
          <img [src]="'assets/partyShape.png'"/>
        </div>
        <p>Zamek Topacz</p>
        <p>ul. Templariuszy 1, Ślęza</p>
      </div>
      <div class="time">
        <h4>17:00</h4>
      </div>
    </li>
    <!-- <li>
      <div class="content">
        <h3>Powrót do Oleśnicy</h3>
        <p>
          Rozkład jazdy autobusu znajduje się
          <a [routerLink]="'.'" [fragment]="'bus'">tutaj</a>.
        </p>
      </div>
      <div class="time">
        <h4>4:XX</h4>
      </div>
    </li> -->
    <div style="clear: both"></div>
  </ul>
</div>
