<h1 [attr.id]="'info'">Informacje</h1>
<h2>Transport</h2>
<h3>Oleśnica</h3>
<p>
  Dla komfortu gości z Oleśnicy i okolic proponujemy transport autobusem.
  Dokładny rozkład jazdy wraz z przystnakami zamieścimy na stronie internetowej bliżej daty ślubu.
  Autobus powrotny będzie zaplanowamny na godzinę 4:00 (po zakończeniu wesela).
  Wszystkich zainteresowanych przejazdem prosimy o informację.
</p>
<h3>Wrocław</h3>
<p>
  Dla osób z Wrocławia możemy zorganizować przejazd z kościoła na salę weselną.
  Wszystkich zainteresowanych przejazdem prosimy o informację.
</p>
<h3>Dojazd autem</h3>
<p>
  Na terenie zamku znajdują się trzy parkingi.
  W pierwszej kolejności prosimy o kierowanie się na parking po prawej stronie za wjazdem na teren obiektu.
  W przypadku braku miejsc obsługa będzie kierować na pozostałe parkingi.
  Istnieje możliwość (jeszcze nie potwierdzona) pozostawienia auta na noc na parkingu.
</p>
<h2>Dieta</h2>
<p>
  Dla osób o specjalnych potrzebach żywieniowych mogą zostać przygotowane odpowiednie posiłki. Prosimy o zgłoszenie tego faktu do <b>1. czerwca</b>.
  Po tym terminie nie będzie możliwości zmiany menu.
</p>
<!-- <p>
  Prezenty?
</p> -->
<!-- <div [attr.id]="'bus'">
  <h3>Rozkład jazdy autobusu</h3>
  <ul style="list-style: none">
    <li>Przystanek A - 13:00</li>
    <li>Przystanek B - 13:10</li>
    <li>Przystanek C - 13:20</li>
    <li>Kościół - 14:50</li>
    <li>Topacz - 16:10</li>
    <li>Powrót - 4:05</li>
  </ul>
</div> -->
