<h1 [attr.id]="'info'">Informacje</h1>
<h2>Transport</h2>
<p>
  Dla komfortu gości z Oleśnicy i okolic propnujemy transport autobusem.
  Dokładną godzinę odjazdu i przystanki podamy bliżej daty uroczystości.
  Odjazd z powrotem planowany jest na godzinę 4:00 po zakończeniu wesela.
  Prosimy wszystkie osoby zainteresowane o zgłoszenie chęci jazdy autobusem.
</p>
<p>
  Dla gości z Wrocławia proponujemy organizację przejazdu z kościoła na salę weselną.
  Wszystkie osoby zainteresowane prosimy o zgłoszeni tego faktu.
</p>
<p>
  Na terenie zamku znajdują się trzy parkingi.
  Prosimy gości o kierowanie się najpierw na parking po prawej stronie za wjazdem na teren zamku.
  W razie braku miejsc obsługa będzie kierować auta na kolejne parkingi.
  Istnieje możliwość (jeszcze nie potwierdzona) pozostawienia auta na noc na parkingu.
</p>
<h2>Dieta</h2>
<p>
  Osoby o specjalnych potrzebach żywieniowych proszone są o zgłoszenie tego faktu do <b>1. czerwca</b>.
  W terminie późniejszym zmiana diety może nie być możliwa.
</p>
<h2>Regulamin</h2>
<div>
  <p> Wszystkich uczestników uroczystości o zapoznanie się z regulaminem sali weselenej i jego przestrzeganie.
  W szczególności:</p>
  <ul>
    <li>Zabrania się używania dronów</li>
    <li>Palenia paierosów i e-papierosów na sali</li>
    <li>Inne...</li>
  </ul>

</div>
<!-- <p>
  Prezenty?
</p> -->
<!-- <div [attr.id]="'bus'">
  <h3>Rozkład jazdy autobusu</h3>
  <ul style="list-style: none">
    <li>Przystanek A - 13:00</li>
    <li>Przystanek B - 13:10</li>
    <li>Przystanek C - 13:20</li>
    <li>Kościół - 14:50</li>
    <li>Topacz - 16:10</li>
    <li>Powrót - 4:05</li>
  </ul>
</div> -->
